@import url('https://fonts.googleapis.com/css?family=Raleway:400,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: url("../nasa.jpg") 0/cover no-repeat;
	width: 100%;
	min-height: 100vh;
}

.container {
	margin: 0 auto;
	text-align: center;
	color: #fff;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container h1 {
	margin-top: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 80px;
	font-weight: 900;
	padding: 50px;
}

.results h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
}

.flag {
	margin: auto 15px;
	display: inline-block;
	cursor: pointer;
}

.main, .results {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

#country-name {
	width: 300px;
	height: 30px;
	border-radius: 5px;
	color: black;
}

#country-name:active {
	border: 1px solid #4286f4;
}

#search {
	border-radius: 5px;
	border: 1px solid #fff;
	background-color: transparent;
	width: 100px;
	height: 30px;
	color: #fff;
	cursor: pointer;
	margin-left: 5px;
}

#search:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.results {
	flex-direction: column;
	min-width: 500px;
	display: none;
}

table {
	background-color: rgba(255, 255, 255, 0.7);
	color: black;
	width: 500px;
}

table thead tr th {
	text-align: center;
}

table thead tr {
	background-color: #222;
	color: #fff;
}

table tbody {
	text-align: left;
}

footer {
	width: 100%;
	height: 50px;
	background-color: black;
	color: #fff;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
